{% extends 'base.j2' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<h2>Appointments</h2>
<div class="table-container">
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Appointment Date</th> 
            <th>Reason</th>
            <th>Invoice ID</th>
            <th>Doctor ID</th>
            <th>Patient ID</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            <!-- Each Appointment -->
            {% for appointment in Appointments %}
                <tr>
                    <!-- Row Values -->
                    {% for value in appointment %}
                        <td>{{ value }}</td> 
                    {% endfor %}
                    <td><a href="{{ url_for('edit_appointment', appointment_id=appointment[0]) }}">Edit</a></td>
                    <td><a href="{{ url_for('delete_appointment', appointment_id=appointment[0]) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p>&nbsp;</p>
<!-- Add -->
<div id="insert" style="display: block">
    <form id="addAppointment"  method="post" action="/appointments">
        <legend>Add Appointment</legend>
        <fieldset> 
            <label>Appointment Date</label> <input type="date" name="appointment_date" required>
            <label>Reason</label> <input type="textarea" name="reason" required>
            
            <!-- Dropdowns for doctors, patients, and invoices -->

            <label>Doctor</label>
            <select name="doctor_id">
                {% for doctor in Doctors %}
                <option value="{{ doctor[0] }}">
                    {{ doctor[0] }} : {{ doctor[1] }} {{ doctor[2] }}
                </option>
                {% endfor %}
            </select>

            
            <label>Patient</label>
            <select name="patient_id">
                {% for patient in Patients %}
                <option value="{{ patient[0] }}">
                    {{ patient[0] }} : {{ patient[1] }} {{ patient[2] }}
                </option>
                {% endfor %}
            </select>

            <label>Invoice</label>
            <select name="invoice_id">
                {% for invoice in Invoices %}
                <option value="{{ invoice[0] }}">
                    {{ invoice[0] }}
                </option>
                {% endfor %}
            </select>

        </fieldset>
        <input class="btn btn-success" type="submit" id="add_appointment" value="Add Appointment">
        <input class="btn btn-danger" type="button" value="Cancel">
    </form>
</div>

{% endblock %}