{% extends 'base.j2' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<h2>Appointments</h2>
<div class="table-container">
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Appointment Date</th> 
            <th>Reason</th>
            <th>Invoice ID</th>
            <th>Doctor ID</th>
            <th>Patient ID</th>
            
        </thead>
        <tbody>
            <!-- Each Appointment -->
            {% for appointment in Appointments %}
                <tr>
                    <!-- Row Values -->
                    {% for value in appointment %}
                        <td>{{ value }}</td> 
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p>&nbsp;</p>
<!-- Add -->
<div id="insert" style="display: block">
    <form id="addAppointment"  method="post" action="/appointments">
        <legend>Add Appointment</legend>
        <fieldset class="fields"> 
            <label>Appointment Date</label> <input type="date" name="appointment_date">
            <label>Reason</label> <input type="textarea" name="reason">
            
            <!-- Dropdowns for doctors, patients, and invoices -->

            <label>Doctor</label>
            <select name="doctor_id">
                {% for doctor in Doctors %}
                <option value="{{ doctor[0] }}">
                    {{ doctor[0] }} : {{ doctor[1] }} {{ doctor[2] }}
                </option>
                {% endfor %}
            </select>

            
            <label>Patient</label>
            <select name="patient_id">
                {% for patient in Patients %}
                <option value="{{ patient[0] }}">
                    {{ patient[0] }} : {{ patient[1] }} {{ patient[2] }}
                </option>
                {% endfor %}
            </select>

            <label>Invoice</label>
            <select name="invoice_id">
                {% for invoice in Invoices %}
                <option value="{{ invoice[0] }}">
                    {{ invoice[0] }}
                </option>
                {% endfor %}
            </select>

        </fieldset>
        <input class="btn" type="submit" id="add_appointment" value="Add Appointment">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>

<p>&nbsp;</p>
<!-- Update -->
<div id="update" style="display: block">
    <form id="updateAppointment">
        <legend>Update Appointment</legend>
        <fieldset class="fields">
            <label>ID:</label> 1
            <label>Appointment Date</label> <input type="text" name="appointmentDate" value="2023-07-12">
            <label>Reason</label> <input type="textarea" name="reason" value="General Checkup">  
        </fieldset>
        <input class="btn" type="submit" id="updateAppointment" value="Save Update Appointment">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>

<p>&nbsp;</p>
<!-- Delete -->
<div id="delete" style="display: block">
    <form id="deleteAppointment">
        <legend>Delete Appointment</legend>
        <fieldset class="fields">
            <p>Are you sure you wish to delete the following appointment?</p>
            <label>ID:</label> 1 
            <label>Appointment Date: </label> 2023-07-12
            <label>Reason: </label> General Checkup
            <label>Invoice ID: </label> 2
            <label>Doctor ID: </label> 1
            <label>Patient ID: </label> 1 
        </fieldset>
        <input class="btn" type="submit" id="deleteAppointment" value="Delete Appointment">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>


{% endblock %}