{% extends 'base.j2' %}

{% block title %}Doctors{% endblock %}
{% block content %}

    <h2>Doctors</h2>
    <div class="table-container">
      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Specialty</th>
        </tr>
        <tr>
          <td>1</td>
          <td>John</td>
          <td>Doe</td>
          <td>Internist</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jane</td>
          <td>Doe</td>
          <td>Cardiology</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Tom</td>
          <td>Allen</td>
          <td>Orthopedics</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Jessica</td>
          <td>Butler</td>
          <td>Neurology</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Jane</td>
          <td>Pavlovsky</td>
          <td>Family Medicine</td>
        </tr>
      </table>
    </div>
    <p>&nbsp;</p>
    <!-- Add -->
    <div id="insert" style="display: block">
      <form id="addDoctor">
          <legend><strong>Add Doctor</strong></legend>
            <fieldset class="fields">
              <label> First Name </label> <input type="text" name="firstName">
              <label> Last Name </label> <input type="text" name="lastName">
              <label> Specialty </label> <input type="text" name="specialty">
            </fieldset>
            <input class="btn" type="submit" id="addDoctor" value="Add Doctor">
            <input class="btn" type="button" value="Cancel">
      </form>
    </div>


    <!-- Update -->
    <div id="update" style="display: block">
      <form id="updateDoctor">
          <legend><strong>Update Doctor</strong></legend>
          <!-- Data needs to be dynamically populated with DB calls and returns when plugged in, instead of hardcoded -->
          <fieldset class="fields">
              <label>ID:</label> 1
              <label> First Name </label> <input type="text" name="" value="John">
              <label> Last Name </label> <input type="text" name="lastName" value="Doe">
              <label> Specialty </label> <input type="text" name="specialty" value="Internist">
          </fieldset>
          <input class="btn" type="submit" id="updateDoctor" value="Save Doctor">
          <input class="btn" type="button" value="Cancel">
      </form>
    </div>

    <!-- Delete -->
    <div id="delete" style="display: block">
      <form id="deleteDoctor">
          <legend><strong>Delete Doctor</strong></legend>
          <!-- Data needs to be dynamically populated with DB calls and returns when plugged in, instead of hardcoded -->
          <fieldset class="fields">
              <p>Are you sure you wish to delete the following doctor?</p>
              <label>ID:</label> 1
              <label> First Name: </label> John 
              <label> Last Name: </label> Doe
          </fieldset>
          <input class="btn" type="submit" id="deleteDoctor" value="Delete Doctor">
          <input class="btn" type="button" value="Cancel">
      </form>
    </div>


  {% endblock %}
</html>