{% extends 'base.j2' %}

{% block title %}Edit Doctor{% endblock %}
{% block content %}

    <h2>Edit Doctor</h2>
    <div class="edit-form">
        <form method="post" action="/edit_doctor/{{ doctor[0] }}">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{ doctor[1] }}">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="{{ doctor[2] }}">
      
            <label for="specialty">Specialty:</label>
            <input type="text" name="specialty" value="{{ doctor[3] }}">

            <input type="submit" value="Save Changes">
            <input type="button" value="Cancel">
        </form>
    </div>

{% endblock %}
