{% extends 'base.j2' %}

{% block title %}Hoag Home Page{% endblock %}

{% block content %}

    <p>
      Hoag is a not-for-profit health organization in Orange County, CA that has 2 hospitals and 10 urgent care centers,with over 350 doctors, treating nearly 30,000 patients per year. To better doctor and patient records, and manage appointments and payment processing, we will leverage database-centered application that tracks, automates and streamlines Hoag's operational and transactional data.
    </p>
    
{% endblock %}