
{% extends 'base.j2' %}

{% block title %}Invoices{% endblock %}
{% block content %}

    <h2>Invoices</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Create Time</th>
                <th colspan="2">Actions</th>
            </tr>
          <tbody>
          <!-- Each Invoice -->
          {% for invoice in Invoices %}
              <tr>
                  <!-- Row Values -->
                  {% for value in invoice %}
                      <td>{{ value }}</td>
                  {% endfor %}
                  <td><a href="{{ url_for('edit_invoice', invoice_id=invoice[0]) }}">Edit</a></td>

                  <td><a href="{{ url_for('delete_invoice', invoice_id=invoice[0]) }}">Delete</a></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    
    <!-- Add -->
    <p>&nbsp;</p>
    <div style="display: block">
        <form id="addInvoice" method="post" action="/invoices">
            <legend>Add Invoice</legend>
            <fieldset>
                <label>Amount</label> <input type="text" name="amount" required>
            </fieldset>
            <input class="btn btn-success" type="submit" id="addInvoice" value="Add Invoice">
            <input class="btn btn-danger" type="button" value="Cancel">
        </form>
    </div>


  {% endblock %}
</html>