{% extends 'base.j2' %}

{% block title %}Intersection Table{% endblock %}
{% block content %}

    <h2>Locations_has_Doctors Table</h2>
    <div class="table-container">
        <table>
            <tbody>
                <tr>
                    <th>Location ID</th>
                    <th>Doctor ID</th>
                </tr>
                {% for location_doctor in LocationsDoctors %}
                    <tr>
                        <!-- Row Values -->
                        <td>{{  location_doctor[0]  }}</td>
                        <td>{{  location_doctor[1]  }}</td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>

  {% endblock %}
</html>