{% extends 'base.j2' %}

{% block title %}Intersection Table{% endblock %}
{% block content %}

    <h2>Locations_has_Doctors Table</h2>
    <div class="table-container">
      <table>
        <tr>
          <th>Location ID</th>
          <th>Doctor ID</th>
        </tr>
        <tr>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>3</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1</td>
        </tr>
      </table>
    </div>

  {% endblock %}
</html>